PROJECT_NAME="FastAPI Feature Based"
# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
POSTGRES_SERVER=db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Minio
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=mybucket
MINIO_ENDPOINT=localhost:9000

# App Secret
SECRET_KEY=supersecretkeychangedinproduction
